{{yield}}

    <ul class="sub-menu">
        <li id="user-management-menu-item">{{#link-to 'user-management'}}<i class="fa fa-users"></i> <span class="title">User Management</span><span id="menu-item-decorator"></span>{{/link-to}}</li>
    </ul>
