<label class="control-label visible-ie8 visible-ie9">{{label-text}}</label>
<span class='input-error'>{{input-errors}}</span>
{{input id=input-id type=input-type placeholder=input-placeholder value=input-value class=input-classes}}
