<label class="control-label visible-ie8 visible-ie9">{{label-text}}</label>
<div class="input-icon right">
  {{#if input-errors}}
      <i class="fa fa-exclamation tooltips validation-fail" data-original-title="please write a valid email" data-container="body"></i>
  {{else}}
      <i class="fa fa-check tooltips validation-success" data-original-title="please write a valid email" data-container="body"></i>
  {{/if}}
      </div>
{{input id=inputID type=input-type placeholder=input-placeholder value=inputValue class=input-classes}}
