{{yield}}
<div class="top-menu">
    <ul class="nav navbar-nav pull-right">

        <!--
          notifications
          inbox
          user menu
          quickbar toggler

        -->
      {{user-menu}}

    </ul>
</div>