{{yield}}
<div class="page-logo">
    <a href="/">
        <img src="" alt="logo" class="logo-default" width="50"/>
    </a>

    <div class="menu-toggler sidebar-toggler hide">
        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
    </div>
</div>
