
  {{main-navigation}}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content" id="pjax-container">
          {{outlet}}
        </div>
    </div>
    <!-- END CONTENT -->

