{{yield}}
<!-- START SEARCH BOX -->
    <div class="form-group">
        <div class="input-group">
          {{input id=inputID type='search' placeholder=inputPlaceholder value=inputValue class='form-control search'}}
          {{input-group-icon icon='fa-search'}}
        </div>
    </div>

<!-- END SEARCH BOX -->