{{#jf-page id='dashboard'}}
  {{#jf-page-title}}Dashboard{{/jf-page-title}}
    {{#jf-page-bar}}
        {{#jf-page-actions}}
                {{#jf-page-action-button}}
                    Actions {{fa-icon icon='angle-down'}}
                {{/jf-page-action-button}}
                {{#jf-page-action-list}}
                    {{#jf-page-action}}
                        <a>Another action</a>
                    {{/jf-page-action}}

                {{/jf-page-action-list}}
        {{/jf-page-actions}}
    {{/jf-page-bar}}
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
{{#jf-page-content-container}}


{{/jf-page-content-container}}
    <!-- END PAGE CONTENT-->
{{/jf-page}}
