{{outlet}}

{{! app/templates/auth/forgot-password.hbs }}

<!-- START SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler"></div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- START LOGIN -->
<div class="border-div">

    <!-- START FORMS CONTAINER -->
    <div class="content">

        <!-- START LOGO -->
        <div class="logo">
            <a href="/">
                <img src={{logo-large}} />
            </a>
        </div>
        <!-- END LOGO -->

        <!-- START INSTRUCTIONS -->
        <p class="hint">
            Enter your information below:
        </p>
        <!-- END INSTRUCTIONS -->

        <!-- START REGISTRATION FORM -->
        <form {{action 'authenticateForm' isValid on='submit' }}>

            <!-- START EMAIL INPUT -->
          {{form-group-input
          label-text='Email'
          inputID='email'
          input-type='text'
          input-placeholder='Email Address'
          inputValue=email
          input-classes='form-control form-control-solid placeholder-no-fix text-field'
          input-errors=errors.email}}
            <!-- END EMAIL INPUT -->

            <!-- START BUTTONS -->
            <div class="form-actions">
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit</button>
              {{#link-to 'auth.login'}}<span class="forget-password pull-left">Back</span>{{/link-to}}
            </div>
            <!-- END BUTTONS -->

        </form>
        <!-- END REGISTRATION FORM -->

    </div>
    <!-- END FORMS CONTAINER -->

</div>
<!-- END LOGIN -->

<!-- START COPYRIGHT -->
<div class="copyright">
    2015 © Comanche County Memorial Hospital
</div>
<!-- END COPYRIGHT -->
