{{! app/templates/login.hbs }}



        <!-- START LOGIN FORM -->
        <form {{action 'authenticateForm' isValid}}>

            <!-- START USERNAME INPUT -->
          {{form-group-input
          label-text='Username'
          inputID='identification'
          input-type='text'
          input-placeholder='Enter Login'
          inputValue=identification
          input-classes='form-control form-control-solid placeholder-no-fix text-field'
          input-errors=errors.identification}}
            <!-- END USERNAME INPUT -->

            <!-- START PASSWORD INPUT -->
          {{form-group-input
          label-text='Password'
          inputID='password'
          input-type='password'
          input-placeholder='Enter Password'
          inputValue=password
          input-classes='form-control form-control-solid placeholder-no-fix text-field'
          input-errors=errors.password}}

            <!-- END PASSWORD INPUT -->

            <!-- START SUBMIT BUTTON -->
            <div class="form-actions">
                <button id='submit' type="submit" class="btn btn-success uppercase">Login</button>
            </div>
            <!-- END SUBMIT BUTTON -->

            <!-- START REQUEST ACCESS / FORGOT PASSWORD FORM GROUP -->
            <div class="form-actions">

                <!-- START REQUEST ACCESS LINK -->
                <!-- TODO Pull the register-button jquery from metronic.js and fix semantics -->
                <div class="pull-left forget-password-block">
                  {{#link-to 'auth.request-access'}}<span class="forget-password">Request Access</span>{{/link-to}}
                </div>
                <!-- END REQUEST ACCESS LINK -->

                <!-- START FORGOT PASSWORD LINK -->
                <div class="pull-right forget-password-block">
                  {{#link-to 'auth.forgot-password'}}<span class="forget-password">Forgot Password?</span>{{/link-to}}
                </div>
                <!-- END FORGOT PASSWORD LINK -->

            </div>
            <!-- END REQUEST ACCESS / FORGOT PASSWORD FORM GROUP -->

        </form>
        <!-- END LOGIN FORM -->


