
{{modal-header title='Terms of Service' x-action='close'}}
<div class="modal-body ">
    <p><strong>Cras diam nisl?</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam nisl, euismod ut dignissim id, efficitur eu tortor. Fusce sagittis mollis urna sed sollicitudin. Pellentesque fringilla sem in ex porta, dignissim dictum nisi finibus. Nullam ac egestas elit. Phasellus in urna ut urna porttitor pretium ut a velit. Curabitur dapibus ante commodo, bibendum risus id, mollis eros. Nunc tempus, quam ut dictum efficitur, metus libero posuere justo, at convallis velit eros non elit. In eget massa rutrum, commodo sem mattis, hendrerit arcu. Morbi venenatis, magna a dapibus mollis, risus tortor sodales velit, sed tincidunt sem mi id nisi. Suspendisse sit amet fermentum elit.</p>
    <p><strong>Vivamus orci risus, pharetra vel turpis sed</strong></p>
    <p>Sed id diam viverra, suscipit sapien et, pulvinar mauris. Morbi ultricies vehicula semper. Mauris efficitur condimentum volutpat. Etiam pulvinar non ipsum nec varius. Sed pretium et lacus non vulputate. Duis purus ex, tincidunt et volutpat a, ultrices nec massa. Mauris fringilla at metus in varius. Proin et nisi id nisl fringilla accumsan. Pellentesque eu nibh ut nibh finibus vestibulum. Maecenas dolor massa, pharetra quis turpis eget, facilisis varius nunc. Ut pellentesque ullamcorper augue scelerisque ornare. Proin eget leo quis sem sagittis ultricies. In semper pulvinar libero quis auctor. Aenean mollis scelerisque felis ac elementum.</p>
    <p>Etiam mi nisl, tempus sed finibus sed, fermentum sit amet justo. Vivamus tempor mauris vitae justo luctus iaculis. Curabitur vestibulum lectus eu lorem ultricies iaculis. In rutrum justo vitae diam dapibus posuere. Cras consectetur ipsum eget vestibulum pharetra. Pellentesque suscipit tempor tempor. Mauris purus lectus, ornare quis libero vitae, maximus sodales ipsum. Nunc fringilla iaculis justo eu porta. Suspendisse et efficitur augue. Duis ultrices malesuada augue sit amet molestie. Ut tincidunt libero vel augue sollicitudin, vitae consequat est malesuada.</p>
    <p><strong>Fusce sagittis mollis urna</strong></p>
    <p>Aliquam feugiat porttitor congue. Nam vestibulum tellus enim, maximus efficitur nisl malesuada ut. Donec cursus sagittis dapibus. Donec commodo mauris non odio placerat, nec sollicitudin est lobortis. Maecenas sem sapien, pellentesque a gravida in, mattis ac lectus. Sed auctor consequat elit. Nam sagittis purus ac sapien dignissim tincidunt. Maecenas pellentesque vitae eros vel vehicula. Aliquam eget mi eu lorem dapibus venenatis eu ut massa. Mauris eu nulla ac enim efficitur iaculis id volutpat justo. Pellentesque aliquam fringilla mattis.</p>
    <p><strong>Usto, gravida non felis et?</strong></p>
    <p>Vivamus orci risus, pharetra vel turpis sed, luctus cursus felis. Sed faucibus ligula id dictum feugiat. Pellentesque ante justo, gravida non felis et, vestibulum laoreet urna. Suspendisse ultrices nulla in justo viverra, eu egestas nunc consequat. Nulla vulputate orci consectetur diam tincidunt tempus. Nam maximus mollis vulputate. Cras eleifend ex vitae velit blandit tristique. Praesent auctor nulla volutpat sapien suscipit, in iaculis sem fermentum. Cras vel nisi laoreet, finibus dui non, tincidunt tellus.</p>
  </div>
<div class="modal-footer">
  {{close-button action='close'}}
</div>
