body.app {
  background-color: #364150 !important;
}

body.auth {
  background-color: #F8F1EB !important;
  width: 100%;
  height: 100%;
}

.logo {
  margin-top: 0px;
}


.content {
  border: 1px solid #206EB7;
  background-color: #ffffff;
}

.jf-list-item {
  margin-bottom: 10px;
}

.md-checkbox label > .check{
  border-color: #FFFFFF;
}
.md-checkbox label > .box{
  border-color: #FFFFFF;
}
