body.app {
  background-color: #364150 !important;
}

body.auth {
  background-color: #F8F1EB !important;
  width: 100%;
  height: 100%;
}

.logo {
  margin-top: 0px;
}


.content {
  border: 1px solid #206EB7;
  background-color: #ffffff;
}

.content .form-actions .btn-success {
  width: 100%;
  height: 60px;
  background-color: #fff;
  color: #206EB7;
  -webkit-transition: background-color 0.3s, color 0.2s, font-size 0.2s, padding-top 0.2s;
  transition: background-color 0.2s, color 0.1s;
  border: 1px solid #206EB7;
}
.content .form-actions #back-btn {
  width: 100%;
  height: 60px;

}
.content .form-actions .btn-success:hover {
  background-color: #206EB7;
  color: white;
}

.content .form-actions .btn-success:active {
  background-color: #6393b7;
  color: white;
}

.content .form-actions {
  padding-bottom: 5px;
}

.text-field {
  border: 1px solid #206EB7 !important;
  background-color: #ffffff !important;
}

.portlet-list {
  list-style: none;
  padding: 0;
}

.portlet-list .portlet {
  margin-bottom: 1px;
  margin-left: 14px;
  margin-right: 14px;
}

.tools i {
  color: #ffffff;
  position: relative;
  top: 50%;
  transform: translateY(-80%);
}

i.fa {
  display: inline-block;
}

.validation-fail {
  color: #ff0000 !important;
}

.validation-success {
  color: #008000 !important;
}

ul.page-sidebar-menu li.sidebar-toggler-wrapper {
  background-color: #002C4D;
}

.sidebar-search-wrapper  {
  background-color: #002C4D;
}

.sidebar-search div.input-group input.form-control {
  color: #d3d3d3 !important;
  background-color: #002C4D !important;
}

.page-footer {
  background-color: #00182A !important;
}

.page-header {
  background-color: #00182A !important;
}

.title {
  font-family: 'Questrial', sans-serif;
}

h1 h2 h3 h4 h5 h6{
  font-family: 'Questrial', sans-serif;
}

.name {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  margin-left: 5px;
}

.portlet.selected {
  background-color: #e7daff;
  border-color: #1fff00;
  border-left: thick solid;
}

.portlet-title {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;

}

#nprogress .bar {
  background: #1caf9a !important;
}
.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}
.avatar {
  max-width: 150px;
}
img {
  max-width: 100%;
}
h3 {
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
}
p {
  margin:0;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}

.jf-list-item {
  margin-bottom: 1px;
}
