body.app {
  background-color: #364150 !important;
}

body.auth {
  background-color: #F8F1EB !important;
  width: 100%;
  height: 100%;
}

.logo {
  margin-top: 0px;
}


.content {
  border: 1px solid #206EB7;
  background-color: #ffffff;
}

.content .form-actions .btn-success {
  width: 100%;
  height: 60px;
  background-color: #fff;
  color: #206EB7;
  -webkit-transition: background-color 0.3s, color 0.2s, font-size 0.2s, padding-top 0.2s;
  transition: background-color 0.2s, color 0.1s;
  border: 1px solid #206EB7;
}
.content .form-actions #back-btn {
  width: 100%;
  height: 60px;

}
.content .form-actions .btn-success:hover {
  background-color: #206EB7;
  color: white;
}

.content .form-actions .btn-success:active {
  background-color: #6393b7;
  color: white;
}

.content .form-actions {
  padding-bottom: 5px;
}

.text-field {
  border: 1px solid #206EB7 !important;
  background-color: #ffffff !important;
}

.portlet-list {
  list-style: none;
  padding: 0;
}

.portlet-list .portlet {
  margin-bottom: 1px;
  margin-left: 14px;
  margin-right: 14px;
}

.tools i {
  color: #ffffff;
  position: relative;
  top: 50%;
  transform: translateY(-80%);
}

i.fa {
  display: inline-block;
}

.validation-fail {
  color: #ff0000 !important;
}

.validation-success {
  color: #008000 !important;
}

ul.page-sidebar-menu li.sidebar-toggler-wrapper {
  background-color: #002C4D;
}

.sidebar-search-wrapper  {
  background-color: #002C4D;
}

.sidebar-search div.input-group input.form-control {
  color: #d3d3d3 !important;
  background-color: #002C4D !important;
}

.page-footer {
  background-color: #00182A !important;
}

.page-header {
  background-color: #00182A !important;
}

.title {
  font-family: 'Questrial', sans-serif;
}

h1 h2 h3 h4 h5 h6{
  font-family: 'Questrial', sans-serif;
}

.name {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  margin-left: 5px;
}

.portlet.selected {
  background-color: #e7daff;
  border-color: #1fff00;
  border-left: thick solid;
}

.portlet-title {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;

}

#nprogress .bar {
  background: #1caf9a !important;
}
