<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- START HEAD -->
<head>
    <meta charset="utf-8"/>

    <!-- TODO Pull the site and page titles into the template using variables. -->
    <title>CCMH IT Asset Management System | Login</title>

    <!-- TODO Pull in description and author data into the template -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="{{ DESCRIPTION }}" name="description"/>
    <meta content="{{ AUTHOR }}" name="author"/>

    <!-- TODO Trim down the css to a minimum number of imports. -->
    <!-- START GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="{{ config.PLUGIN }}simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ config.PLUGIN }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ config.PLUGIN }}uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- START PAGE LEVEL STYLES -->
    <link href="{{ config.CSS }}login/login.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL SCRIPTS -->

    <!-- START THEME STYLES -->
    <link href="{{ config.CSS }}components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="{{ config.CSS }}plugins.css" rel="stylesheet" type="text/css"/>
    <link href="{{ config.CSS }}layout.css" rel="stylesheet" type="text/css"/>
    <link href="{{ config.CSS }}themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ config.CSS }}custom.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->

    <!-- TODO Get Multimedia Team to create a custom favicon -->
    <!-- START FAVICON -->
    <link rel="shortcut icon" href="favicon.ico"/>
    <!-- END FAVICON -->

</head>
<!-- END HEAD -->


<!-- START BODY -->
<body class="login">

<!-- START SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler"></div>
<!-- END SIDEBAR TOGGLER BUTTON -->


<!-- START LOGIN -->
<div class="border-div">

    <!-- START FORMS CONTAINER -->
    <div class="content">

        <!-- START LOGO -->
        <div class="logo">
            <a href="/">
                <img src="{{ config.IMG }}ccmh/ccmh-pantone-300.png" alt=""/>
            </a>
        </div>
        <!-- END LOGO -->

        <!-- START LOGIN FORM -->
        <form class="login-form" method="POST" name="login_user_form">

            <!-- START INPUT ERROR ALERT -->
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <!-- END INPUT ERROR ALERT -->

            <!-- START USERNAME INPUT -->
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <input class="form-control form-control-solid placeholder-no-fix text-field" type="text"
                       autocomplete="off"
                       placeholder="Username" name="username"/>
            </div>
            <!-- END USERNAME INPUT -->

            <!-- START PASSWORD INPUT -->
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control form-control-solid placeholder-no-fix text-field" type="password"
                       autocomplete="off"
                       placeholder="Password" name="password"/>
            </div>
            <!-- END PASSWORD INPUT -->

            <!-- START SUBMIT BUTTON -->
            <div class="form-actions">
                <button type="submit" class="btn btn-success uppercase">Login</button>
            </div>
            <!-- END SUBMIT BUTTON -->

            <!-- START REQUEST ACCESS / FORGOT PASSWORD FORM GROUP -->
            <div class="form-actions">

                <!-- START REQUEST ACCESS LINK -->
                <!-- TODO Pull the register-button jquery from metronic.js and fix semantics -->
                <div class="pull-left forget-password-block">
                    <a href="javascript:;" id="register-btn" class="forget-password register-btn">Request Access</a>
                </div>
                <!-- END REQUEST ACCESS LINK -->

                <!-- START FORGOT PASSWORD LINK -->
                <div class="pull-right forget-password-block">
                    <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                </div>
                <!-- END FORGOT PASSWORD LINK -->

            </div>
            <!-- END REQUEST ACCESS / FORGOT PASSWORD FORM GROUP -->

        </form>
        <!-- END LOGIN FORM -->


        <!-- START FORGOT PASSWORD FORM -->
        <form class="forget-form" action="#" method="post">

            <!-- START INSTRUCTIONS -->
            <p>
                Enter your e-mail address below to reset your password.
            </p>
            <!-- END INSTRUCTIONS -->

            <!-- START EMAIL INPUT -->
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email"
                       name="email"/>
            </div>
            <!-- END EMAIL INPUT -->

            <!-- START BUTTON CONTAINER -->
            <div class="form-actions">

                <!-- START BACK BUTTON -->
                <div class="col-md-6">
                    <button type="button" id="back-btn" class="btn btn-default">Back</button>
                </div>
                <!-- END BACK BUTTON -->

                <!-- START SUBMIT BUTTON -->
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
                </div>
                <!-- END SUBMIT BUTTON -->

            </div>
            <!-- END BUTTON CONTAINER -->

        </form>
        <!-- END FORGOT PASSWORD FORM -->


        <!-- START REGISTRATION FORM -->
        <form class="register-form" action="index.html" method="post">

            <!-- START INSTRUCTIONS -->
            <p class="hint">
                Enter your personal details below:
            </p>
            <!-- END INSTRUCTIONS -->

            <!-- START FIRST NAME -->
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">First Name</label>
                <input class="form-control placeholder-no-fix text-field" type="text" placeholder="First Name"
                       name="first-name"/>
            </div>
            <!-- END FIRST NAME -->

            <!-- START LAST NAME -->
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Last Name</label>
                <input class="form-control placeholder-no-fix text-field" type="text" placeholder="Last Name"
                       name="last-name"/>
            </div>
            <!-- END FIRST NAME -->

            <!-- START EMPLOYEE ID -->
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Employee ID</label>
                <input class="form-control placeholder-no-fix text-field" type="text" autocomplete="off"
                       placeholder="Employee ID" name="employee-id"/>
            </div>
            <!-- END EMPLOYEE ID -->

            <!-- START EMAIL -->
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <input class="form-control placeholder-no-fix text-field" type="text" placeholder="Email" name="email"/>
            </div>
            <!-- END EMAIL -->

            <!-- START TERMS AND POLICIES -->
            <div class="form-group margin-top-20 margin-bottom-20">

                <!-- START TERMS OF SERVICE AND PRIVACY POLICY CHECK BOXES -->
                <label class="check">
                    <input type="checkbox" name="tnc"/> I agree to the <a href="#">
                    Terms of Service </a>
                    & <a href="#">
                    Privacy Policy </a>
                </label>
                <!-- END TERMS OF SERVICE AND PRIVACY POLICY CHECK BOXYES -->

                <!-- START TERMS ERROR -->
                <div id="register_tnc_error">
                </div>
                <!-- END TERMS ERROR -->

            </div>
            <!-- TERMS AND POLICIES -->

            <!-- START BUTTONS -->
            <div class="form-actions">
                <button type="button" id="register-back-btn" class="btn btn-default">Back</button>
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit
                </button>
            </div>
            <!-- END BUTTONS -->

        </form>
        <!-- END REGISTRATION FORM -->

    </div>
    <!-- END FORMS CONTAINER -->

</div>
<!-- END LOGIN -->

<!-- START COPYRIGHT -->
<div class="copyright">
    2015 © Comanche County Memorial Hospital
</div>
<!-- END COPYRIGHT -->

<!-- TODO Trim out any extranious javascript that is being included. -->
<!-- START JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- START CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{{ config.PLUGIN }}respond.min.js"></script>
<script src="{{ config.PLUGIN }}excanvas.min.js"></script>
<![endif]-->
<script src="{{ config.PLUGIN }}jquery.min.js" type="text/javascript"></script>
<script src="{{ config.PLUGIN }}jquery-migrate.min.js" type="text/javascript"></script>
<script src="{{ config.PLUGIN }}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ config.PLUGIN }}jquery.blockui.min.js" type="text/javascript"></script>
<script src="{{ config.PLUGIN }}jquery.cokie.min.js" type="text/javascript"></script>
<script src="{{ config.PLUGIN }}uniform/jquery.uniform.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- START PAGE LEVEL PLUGINS -->
<script src="{{ config.PLUGIN }}jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- START PAGE LEVEL SCRIPTS -->
<script src="{{ config.JS }}metronic.js" type="text/javascript"></script>
<script src="{{ config.JS }}layout.js" type="text/javascript"></script>
<script src="{{ config.JS }}demo.js" type="text/javascript"></script>
<script src="{{ config.JS }}login.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function () {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Login.init();
        Demo.init();
    });
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>