<div class="well well-lg">
    <h4 class="block">Request Sent!</h4>
    <p>
        Your request has been sent to an administrator. You will recieve an email when your request has been reviewed.
        Please allow up to 72 hours for a response. If you have any questions please contact support at (xxx)xxx-xxxx.
    </p>
  {{! TODO Add a button back to the login page }}
</div>