
{{#jf-page-title}}Manufacturers{{/jf-page-title}}

{{#jf-page-bar}}

  {{#jf-page-breadcrumbs}}
    {{#jf-page-breadcrumb}}{{#link-to 'manufacturers.list'}}Manufacturers{{/link-to}}{{/jf-page-breadcrumb}}
  {{/jf-page-breadcrumbs}}

  {{#jf-page-actions}}
    {{#jf-page-action}}{{#link-to 'manufacturers.new'}}Add New{{/link-to}}{{/jf-page-action}}
  {{/jf-page-actions}}

{{/jf-page-bar}}



{{#jf-page-content}}

    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-globe"></i>Datatable with TableTools
            </div>
            <div class="tools">
            </div>
        </div>
        <div id="table-spot" class="portlet-body">
        </div>
    </div>
{{/jf-page-content}}