{{! START TITLE }}
{{#jf-page-title}}New Manufacturer{{/jf-page-title}}
{{! END TITLE }}

{{! START PAGE TOOLBAR }}
{{#jf-page-bar}}

  {{! START BREADCRUMBS }}
  {{#jf-page-breadcrumbs}}
    {{#jf-page-breadcrumb}}{{#link-to 'manufacturers.list'}}Manufacturers{{/link-to}}{{/jf-page-breadcrumb}}
    {{#jf-page-breadcrumb}}{{#link-to 'manufacturers.new'}}New Manufacturer{{/link-to}}{{/jf-page-breadcrumb}}
  {{/jf-page-breadcrumbs}}
  {{! END BREADCRUMBS }}

  {{! START ACTION BUTTON }}
  {{#jf-page-actions}}
    {{#jf-page-action}}{{#link-to 'manufacturers.new'}}Add New{{/link-to}}{{/jf-page-action}}
  {{/jf-page-actions}}
  {{! END ACTION BUTTON }}

{{/jf-page-bar}}
{{! END PAGE TOOLBAR }}

{{! TODO Finish commenting this page }}
{{#jf-page-content}}
    {{#jf-portlet}}
        {{#jf-portlet-header}}
            {{#jf-portlet-headline}}
                {{#jf-portlet-title}}Enter the manufacturer information.{{/jf-portlet-title}}
            {{/jf-portlet-headline}}
            {{#jf-portlet-actions}}
              {{#jf-portlet-action-icon}}{{fa-icon icon='question'}}{{/jf-portlet-action-icon}}
            {{/jf-portlet-actions}}

        {{/jf-portlet-header}}

        {{#jf-portlet-content}}
            <!-- BEGIN FORM-->
            {{#jf-form-horizontal}}
                {{#jf-form-body}}

                    {{#jf-form-group}}
                      {{#jf-form-label width='5'}}Name{{/jf-form-label}}
                        {{jf-form-input-text width='7' placeholder='Manufacturer Name' value=title}}
                    {{/jf-form-group}}

                    {{#jf-form-group}}
                      {{#jf-form-label width='5'}}Description{{/jf-form-label}}
                      {{#jf-form-textarea columns='7' rows='3' value=description}}{{/jf-form-textarea}}
                    {{/jf-form-group}}


                    {{#jf-form-group}}
                      {{#jf-form-label width='5'}}Note{{/jf-form-label}}
                      {{#jf-form-textarea columns='7' rows='3' id='input-note' value=note}}{{/jf-form-textarea}}
                    {{/jf-form-group}}

                {{/jf-form-body}}

                {{#jf-form-actions}}
                  {{#jf-form-buttons}}
                    {{#jf-form-button-save action='save'}}Save{{/jf-form-button-save}}
                    {{#jf-form-button-cancel action='cancel'}}Cancel{{/jf-form-button-cancel}}
                  {{/jf-form-buttons}}
                {{/jf-form-actions}}

            {{/jf-form-horizontal}}
            <div class="col-md-5">
            <div class="well well-lg">
                <h4 class="block">Manufacturer</h4>
                <p>
                    This is some general information on manufacturers in the application. How they are used and what you can do with them.
                </p>
            </div>
            </div>
        {{/jf-portlet-content}}
    {{/jf-portlet}}
{{/jf-page-content}}