<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" {{action 'close'}}>&times;</button>
                <h4 class="modal-title">Change Role</h4>
            </div>
            <div class="modal-body">

                <div id="main">
                    <div id="mainbody">
                        <table class="tsel" border="0" width="100%">
                            <tr>
                                <td valign="top" align="center" width="50%">
                                    <table class="tsel" border="0">
                                        <tr>
                                            <td><img class="selector" id="webcamimg" src="img/vid.png" onclick="setwebcam()" align="left" /></td>
                                            <td><img class="selector" id="qrimg" src="img/cam.png" onclick="setimg()" align="right"/></td></tr>
                                        <tr>
                                            <td colspan="2" align="center">
                                                <div id="outdiv">
                                                    <video id="v" autoplay></video>
                                                </div></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr><td colspan="3" align="center">
                                <div id="result">a</div>
                            </td></tr>
                        </table>
                    </div>&nbsp;
                    <canvas id="qr-canvas" width="800" height="600"></canvas>
            </div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" {{action 'close'}}>Close</button>
                <button type="button" class="btn btn-primary" {{action 'save'}}>Save</button>
            </div>
        </div>
    </div>
</div>