
{{#jf-page-title}}Manufacturers{{/jf-page-title}}

{{#jf-page-bar}}

  {{#jf-page-breadcrumbs}}
    {{#jf-page-breadcrumb}}{{#link-to 'manufacturers.list'}}Manufacturers{{/link-to}}{{/jf-page-breadcrumb}}
  {{/jf-page-breadcrumbs}}

  {{#jf-page-actions}}
    {{#jf-page-action}}{{#link-to 'manufacturers.new'}}Add New{{/link-to}}{{/jf-page-action}}
  {{/jf-page-actions}}

{{/jf-page-bar}}
<div id="users">
    <input class="search" placeholder="Search" />
    <button class="sort" data-sort="name">
        Sort by name
    </button>

    <ul class="list"></ul>

</div>


{{#jf-page-content}}

{{/jf-page-content}}