
{{page-title title='Assets'}}

{{#page-header title='Assets' page_actions=page_actions}}

  {{page-breadcrumb this-page='Assets'}}

  {{#page-actions}}
    {{page-actions-li title='Action A' link='#'}}
  {{/page-actions}}

{{/page-header}}


<div class="row">
<div id="asset-list" class="col-md-12">

    <!-- START LIST TOOLS -->
    <div class="row">

        <!-- START SEARCH -->
      {{search-box
      label-text='Search'
      inputID='filter'
      input-type='search'
      input-placeholder='search...'
      inputValue=filter
      input-classes='col-md-4'}}
        <!-- END SEARCH -->
    </div>
    <!-- END LIST TOOLS -->

    <!-- START USER LIST CONTAINER -->
    {{#asset-list}}
      {{#each asset in filteredContent}}
        {{#asset-li
          model=asset.model
          description=asset.description
          status=asset.status
          serial=asset.serial
          manufacturer=asset.manufacturer
        }}{{/asset-li}}
      {{/each}}
    {{/asset-list}}
</div>
<!-- END LIST AND LIST FUNCTIONS CONTAINER -->



<div id="add-departments" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add Departments to User</h4>
            </div>
            <div class="modal-body">
                <div id="tree_1">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default">Close</button>
                <button type="button" class="btn green save">Save changes</button>
            </div>
        </div>
    </div>
</div>


</div>
