{{! app/templates/login.hbs }}

<!-- START SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler"></div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- START LOGIN -->
<div class="border-div">

    <!-- START FORMS CONTAINER -->
    <div class="content">

        <!-- START LOGO -->
        <div class="logo">
            <a href="/">
                <img src="img/ccmh/ccmh-pantone-300.png" alt=""/>
            </a>
        </div>
        <!-- END LOGO -->

        <!-- START LOGIN FORM -->
        <form {{action 'authenticateForm' isValid on='submit' }}>

            <!-- START USERNAME INPUT -->
          {{form-group-input
          label-text='Username'
          input-id='identification'
          input-type='text'
          input-placeholder='Enter Login'
          input-value=identification
          input-classes='form-control form-control-solid placeholder-no-fix text-field'
          input-errors=errors.identification}}
            <!-- END USERNAME INPUT -->

            <!-- START PASSWORD INPUT -->
          {{form-group-input
          label-text='Password'
          input-id='password'
          input-type='password'
          input-placeholder='Enter Password'
          input-value=password
          input-classes='form-control form-control-solid placeholder-no-fix text-field'
          input-errors=errors.password}}

            <!-- END PASSWORD INPUT -->

            <!-- START SUBMIT BUTTON -->
            <div class="form-actions">
                <button type="submit" class="btn btn-success uppercase">Login</button>
            </div>
            <!-- END SUBMIT BUTTON -->

            <!-- START REQUEST ACCESS / FORGOT PASSWORD FORM GROUP -->
            <div class="form-actions">

                <!-- START REQUEST ACCESS LINK -->
                <!-- TODO Pull the register-button jquery from metronic.js and fix semantics -->
                <div class="pull-left forget-password-block">
                    <a href="javascript:;" id="register-btn" class="forget-password register-btn">Request Access</a>
                </div>
                <!-- END REQUEST ACCESS LINK -->

                <!-- START FORGOT PASSWORD LINK -->
                <div class="pull-right forget-password-block">
                    <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                </div>
                <!-- END FORGOT PASSWORD LINK -->

            </div>
            <!-- END REQUEST ACCESS / FORGOT PASSWORD FORM GROUP -->

        </form>
        <!-- END LOGIN FORM -->
    </div>
    <!-- END FORMS CONTAINER -->

</div>
<!-- END LOGIN -->

<!-- START COPYRIGHT -->
<div class="copyright">
    2015 © Comanche County Memorial Hospital
</div>
<!-- END COPYRIGHT -->
